<!DOCTYPE html>
<html>
<body>

<h1>Chiefs Football 2018</h1>

<img src="https://gridironstadiumnetwork.com/wp-content/uploads/2011/10/XQ3O2814.jpg" width=“800” height=“500”>

<p>The best team in the NFL.</p>

</body>
</html>

<%= link_to "Alpha Blog", articles_path %> | <%= link_to 'About', about_path %>